/* Designed by dtokita unless otherwise noted */

#map-container {
    height: 80vh;
}

#control-panel-container {
    border: 1px solid white;
}

#data-explorer-instructions {
    cursor: pointer;
}

#control-panel-instructions {
    cursor: pointer;
}

html, body {
    max-width: 100%;
    overflow-x: hidden;
}